*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #2b32b2,#1488CC);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    width: 30%;
    height: auto;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    row-gap: 1em;
}

.form-container > div{
    display: flex;
    flex-direction: column;
}

.form-container h4{
    padding: 0.8em 0.2em;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: center;
    font-size: 2em;
    font-family:'Zilla Slab';
    padding-top: 0 !important;
    font-weight: 100;
    margin-bottom: 0;
}

.form-container .rounded{
    border-top: 8px solid #bbb;
    border-radius:5px;
}

button{
    align-self: flex-end;
    margin-right:1em;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: #24aeff;
    color: white;
    padding: 0.5em 1em;
    border: none;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

button:hover{
    opacity: 0.8;
}

label{
    font-family: 'Zilla Slab';
    font-style: italic;
    font-size: 1.5em;
    margin: 0.3;
    transition: 0.4s ease;
}

input[type=text], input[type=email]{
    border: none;
    font-size: 1.2em;
    border-bottom: 2px solid #cdcdcd;
    padding:0.5em 0.1em;
    color: #242424;
}

input[type=text], input[type=email]:focus{
    outline: none;
}

textarea{
    border: none;
    /* border-top: 2px solid #cdcdcd; */
    border: 2px solid #cdcdcd;
    padding:0.5em 0.1em;
    color: #242424;
    resize: none;
    font-size: 1.5em;
}

textarea:focus{
    outline: none;
}
